<h1>Welcome To Bored Games</h1>
<p>Hi! I'm your assistant Johnny 5</p>
<button [routerLink]="['johnny5']">Start</button>
<p> CopyRights of BoredGames Inc</p>
<div>
  <canvas class="backgroundImage">



  </canvas>
  <button class="StartButton" routerLink="johnny5">Start</button>

  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/218729783&color=%23ff00f5&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  <!-- <div
    style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
    <a href="https://soundcloud.com/juhanijunkala" title="Juhani Junkala" target="_blank"
      style="color: #cccccc; text-decoration: none;">Juhani Junkala</a> · <a
      href="https://soundcloud.com/juhanijunkala/retro-game-music-pack-5-ending-loop-ready-free-download"
      title="[Retro Game Music Pack] - Ending | Loop Ready | Download Link In Description" target="_blank"
      style="color: #cccccc; text-decoration: none;">[Retro Game Music Pack] - Ending | Loop Ready | Download Link In
      Description</a></div>

</div> -->
